
.h
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
body{
    background-size: cover;
    background-position: center;
}
canvas{
    border: 4px dotted burlywood;
    border-radius: 40px;
    animation-name:x;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes x{
    from{
        box-shadow: 4px 4px 40px blanchedalmond;
    }
    to{
      box-shadow: 4px 4px 40px lightcoral;
    }
}